---
const flexBetweenCenter = "flex justify-between align-middle";
---

<header class="bg-zinc-800 py-5 fixed w-full z-10">
  <div class="container mx-auto">
    <div
      class={`${flexBetweenCenter}`}
      style="height: fit-content; margin: auto 0"
    >
      <div class="logo-brand">
        <a href="/">
          <h1
            class="text-white text-3xl uppercase font-semibold tracking-widest"
          >
            Astro
          </h1>
        </a>
      </div>
      <ul class={`nav-links ${flexBetweenCenter} gap-10`}>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-home text-white text-lg"></i>
          <a href="#" class="text-white uppercase text-sm">HOME</a>
        </li>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-info-circle text-white text-lg"></i>
          <a href="#about" class="text-white uppercase text-sm">About</a>
        </li>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-truck text-white text-lg"></i>
          <a href="#services" class="text-white uppercase text-sm">Services</a>
        </li>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-project-diagram text-white text-lg"></i>
          <a href="#portfolio" class="text-white uppercase text-sm">Portfolio</a
          >
        </li>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-users text-white text-lg"></i>
          <a href="#team" class="text-white uppercase text-sm">Team</a>
        </li>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-phone text-white text-lg"></i>
          <a href="#contact" class="text-white uppercase text-sm">Contact</a>
        </li>
      </ul>
      <button
        type="button"
        class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
        >Get Started</button
      >
    </div>
  </div>
</header>

<style>
  .logo-brand,
  .nav-links,
  a {
    height: fit-content;
    margin: auto 0;
  }
</style>
