---
import Button from "./button.astro";
const flexBetweenCenter = "flex justify-between align-middle";

const navLinksStyle = "text-gray-800 uppercase text-sm";
---

<header class="bg-white py-7 fixed w-full z-10 shadow-md">
  <div class="container mx-auto">
    <div
      class={`${flexBetweenCenter}`}
      style="height: fit-content; margin: auto 0"
    >
      <div class="logo-brand">
        <a href="/">
          <h1
            class="text-gray-800 text-3xl uppercase font-semibold tracking-widest"
          >
            Astro
          </h1>
        </a>
      </div>
      <ul class={`nav-links ${flexBetweenCenter} gap-10`}>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-home text-white text-lg"></i>
          <a href="#" class={navLinksStyle}>HOME</a>
        </li>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-info-circle text-white text-lg"></i>
          <a href="#about" class={navLinksStyle}>About</a>
        </li>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-truck text-white text-lg"></i>
          <a href="#services" class={navLinksStyle}>Services</a>
        </li>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-project-diagram text-white text-lg"></i>
          <a href="#portfolio" class={navLinksStyle}>Portfolio</a>
        </li>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-users text-white text-lg"></i>
          <a href="#team" class={navLinksStyle}>Team</a>
        </li>
        <li class={`${flexBetweenCenter} gap-2`}>
          <i class="fa fa-phone text-white text-lg"></i>
          <a href="#contact" class={navLinksStyle}>Contact</a>
        </li>
      </ul>
      <Button>Get Started</Button>
    </div>
  </div>
</header>

<style>
  .logo-brand,
  .nav-links,
  a {
    height: fit-content;
    margin: auto 0;
  }
</style>
