---
import Section from "../components/section.astro";
import SectionHeader from "../components/sectionHeader.astro";

import team1 from "../assets/images/team-1.jpg";
import team2 from "../assets/images/team-2.jpg";
import team3 from "../assets/images/team-3.jpg";

interface Team {
  imageSource: string;
  memberName: string;
  memberPosition: string;
  quote: string;
}

const team: Team[] = [
  {
    imageSource: team1,
    memberName: "John Doe",
    memberPosition: "Chief Executive Officer",
    quote:
      "Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut",
  },
  {
    imageSource: team2,
    memberName: "Kelsey Smith",
    memberPosition: "Product Manager",
    quote:
      "Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus",
  },
  {
    imageSource: team3,
    memberName: "Derek Jones",
    memberPosition: "CTO",
    quote:
      "Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara",
  },
];
---

<Section id="team">
  <div class="container mx-auto px-3">
    <SectionHeader
      headerText="Our Team"
      paragraph="Green Clean is a professional cleaning company that offers eco-friendly cleaning"
    />
    <div class="lg:grid lg:grid-cols-3">
      {
        team.map(({ imageSource, memberName, memberPosition, quote }) => {
          return (
            <div class="w-full p-7 text-center shadow-xl lg:w-11/12 mx-auto mb-10">
              <img
                src={imageSource}
                alt={`image of ${memberPosition} ${memberName}`}
                class="rounded-full mb-8 w-3/5 m-auto"
              />
              <h4 class="text-lg font-semibold">{memberName}</h4>
              <small class="italic">{memberPosition}</small>
              <p class=" italic text-gray-600 my-5">{quote}</p>
              <div class="flex justify-center align-middle gap-x-3">
                <a target="_blank" href="https://www.facebook.com">
                  <div class="fab fa-facebook text-xl" />
                </a>
                <a target="_blank" href="https://www.twitter.com">
                  <div class="fab fa-twitter text-xl" />
                </a>

                <a target="_blank" href="https://www.instagram.com">
                  <div class="fab fa-instagram text-xl" />
                </a>
                <a target="_blank" href="https://www.linkedin.com">
                  <div class="fab fa-linkedin text-xl" />
                </a>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</Section>
